@charset "UTF-8";

body {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

span {
    font-weight: bold;
}

header {
    background-color: #191919;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

:root {
    --bgcolor: #fff;
    --fontcolor: #555;
}

main {
    align-items: center;
    background: var(--bgcolor);
    color: var(--fontcolor);
    display: flex;
    flex-flow: column wrap;
    padding: 1em 0;
    height: auto;
    transition: .5s ease-in-out background-color, .5s ease-in-out color;
    width: 100%;
}

main  a {
    color: #104b6d
}

nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


section {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

form {
    align-items: center;
    display: flex;
    flex-flow: column ;
    font-weight: bold;
    justify-content: center;
    position: relative;
    width: 100%;

}

input {
    border-radius: 4px;
    border: 2px solid #222121;
    padding: 10px 0px;
    margin: 4px 0;
    width: 100%;
}

textarea {
    border-radius: 4px;
    border: 2px solid #222121;
    padding: 10px 0px;
    margin: 4px 0px;
    width: 100%;
}

footer {
    background: #191919;
    display: flex;
    width: 100%;
}

.box {

    max-width: 940px;
    width: 100%;
}
